<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>帮助说明</title>
    <link href="../../static/css/prism.css" rel="stylesheet" />
</head>
<body>
<pre>
    <code class="language-css">
按照下列插件说明，发送正确消息格式的消息给qq机器人即可。

{{msg}}

PS:  ① 时间只有如下格式是正确的, n最大为99, m最大为23, l最大为59:
    【n天】【m时】【l分】后
    【n天】【m时】后
    【n天】后
    【m时】后
    【l分】后
    【n天】后的【m时】【l分】
    【n天】后的【m时】
    【m时】后的【l分】
    【m时】后的【l分】

     ② 功能列表为每个人独享，不可通过任何手段转发他人使用。{--Jejo}
    </code>
</pre>
<script src="../../static/js/prism.js"></script>
</body>
</html>